.box {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(54, 119, 240);
  color: white;
  font-size: 28px;
}

.box:hover {
  color: rgb(54, 119, 240);
  background-color: white;
  transition: all 0.5s;
}

h1 {
  text-align: center;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
}


